body {
    font-family: sans-serif;
}
header{
  background-color: aliceblue;
    border-radius: 15px; 
     }
     header img{
         margin: 5px;
         color: red;
     }
     h1{
        color: royalblue;
        text-align: center;
        border: 5px solid red;
        border-radius: 4px;

     }
     footer{
         background-color: lawngreen;
         color: 3px rebeccapurple;
         border-radius: 5px;
     }
     footer{
         background-color: sandybrown;
         padding: 4px;
     }
     nav{
         margin: 5px;
         padding: 10px;
         border: 3px rosybrown;
         border-radius: 10px;
     }
     nav{
         font-size: small;
         color: violet;
     }
     dorp{
         background-color: aquamarine;
     }
     h2{
         color: aqua;
         font-size: 40px;
     }
     nav{
         border: 2px antiquewhite;
         border-radius: 80px;
     }
